/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
    line-height: 1.6;
}

h1 {
    text-align: center;
    color: #2c3e50;
    text-decoration: underline;
}

h2 {
    color: #1e8449;
    border-bottom: 1px solid #ddd;
}
.bienvenue {
    text-align: center; /* Pour centrer le texte */
    font-style: italic; /* Pour le mettre en italique, ça fait plus "accueil" */
    color: #555;        /* Une couleur grise pour que ce soit plus doux que le titre */
    margin-bottom: 20px; 
}

/* Style du formulaire */
form {
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #ccc;
}

input[type="text"], input[type="number"], input[type="email"], textarea {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
}

input[type="submit"], button {
    background-color: #1e8449;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

/* Espace entre les sections */
section {
    margin-bottom: 40px;
}
